<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:tizen="http://tizen.org/ns/widgets"
    id="http://yourdomain/iqtizen"
    version="1.0.0"
    viewmodes="maximized">

    <!-- Application -->
    <tizen:application id="W7yOnWQXRS.iqtizen"
        package="W7yOnWQXRS"
        required_version="2.3" />
    <content src="www/index.html" />
    <icon src="icon.png" />
    <name>iqtizen</name>
    <tizen:profile name="tv-samsung" />

    <!-- Metadata -->
    <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution"
        value="extensive" />

    <!-- Features -->
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920" />

    <!-- Access -->
    <access origin="*" subdomains="true" />
    <access origin="https://ds.iqtv.in" subdomains="true" />
    <access origin="https://www.youtube.com" subdomains="true"/>
    <!-- Privileges -->
    <tizen:privilege name="http://tizen.org/privilege/internet" />
    <tizen:privilege name="http://tizen.org/privilege/systeminfo" />
    <tizen:privilege name="http://tizen.org/privilege/appmanager.launch" />
    <tizen:privilege name="http://tizen.org/privilege/healthinfo" />
    <tizen:privilege name="http://developer.samsung.com/privilege/medicalinfo" />
    <tizen:privilege name="http://developer.samsung.com/privilege/tv.deviceinfo" />
    <tizen:privilege name="http://tizen.org/privilege/system" />
    <tizen:privilege name="http://tizen.org/privilege/tv.avplay" />
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
    <tizen:privilege name="http://tizen.org/privilege/mediaplayer" />
    <tizen:privilege name="http://tizen.org/privilege/mediaplayer.play" />
    <tizen:privilege name="http://tizen.org/privilege/mediacontroller.client" />
    <tizen:privilege name="http://tizen.org/privilege/network.get" />
    <tizen:privilege name="http://tizen.org/privilege/mediacontent" />
    <tizen:privilege name="http://tizen.org/privilege/information" />
    <tizen:privilege name="http://developer.samsung.com/privilege/appcommon" />
    <tizen:privilege name="http://tizen.org/privilege/tv.info" />
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo" />
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read" />
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write" />

    <!-- Settings -->
    <tizen:setting screen-orientation="landscape"
        context-menu="enable"
        background-support="disable"
        encryption="disable"
        install-location="auto"
        hwkey-event="enable" />
</widget>