<mat-stepper orientation="vertical" #stepper>
    <mat-step *ngFor="let option of radioOptions">
        <ng-template matStepLabel>{{option.title}} </ng-template>
        <div class="device-details" *ngIf="option.device">
            <div class="card-content">
                <div class="header">
                    <h3>Device Details: {{ deviceInfo.username }}</h3>
                </div>
                <div class="info-row">
                    <span class="info-label">Model:</span>
                    <span class="info-value">{{ deviceInfo.modelname }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Customer name:</span>
                    <span class="info-value">{{ deviceInfo.clientname +" ("+deviceInfo.client_id+")" }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Screen:</span>
                    <span class="info-value">{{ deviceInfo.orientation=="9:16"?"Vertical" :"Horizontal" }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Version:</span>
                    <span class="info-value">{{ deviceInfo.version || 'Not Available' |titlecase }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">State :</span>
                    <span class="info-value">{{ deviceInfo.state_name +" ("+deviceInfo.state_id+")" |titlecase }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">District :</span>
                    <span class="info-value">{{ deviceInfo.district_name +" ("+deviceInfo.district_id+")" |titlecase
                        }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">City :</span>
                    <span class="info-value">{{ deviceInfo.city_name +" ("+deviceInfo.city_id+")" |titlecase }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Location:</span>
                    <span class="info-value">{{ deviceInfo.location +" ("+deviceInfo.locationid+")" |titlecase }}</span>
                </div>

                <div class="info-row">
                    <span class="info-label">IPK Version:</span>
                    <span class="info-value">{{ deviceInfo.apkVersion!="null" ?deviceInfo.apkVersion: version || 'v1.0'
                        }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Device Status:</span>
                    <span class="info-value">{{ deviceInfo.device_status ? 'Active' : 'Inactive' }}</span>
                </div>
            </div>
        </div>
        <div class="card-content" *ngIf="option.islogout">
            <div style="display: flex;justify-content: center;margin-bottom: 1em;">
                <div class="icon-container">
                    <img [src]="option.icon" alt="{{option.title}} icon" class="radio-icon">
                </div>
            </div>
            <p style="text-align: center;color: #ff4081; font-weight: 500;">Are you sure you want to logout?</p>
            <div style="display: flex; justify-content: center; gap: 1em; margin-top: 1em;">
                <button #yesBtn mat-raised-button (click)="openLogoutDialog()">Yes, Logout</button>
            </div>

        </div>

    </mat-step>
</mat-stepper>

<ng-template #logoutconfirm>
    <h2 mat-dialog-title style="color: #ff4081;">Do you want to save device ID?</h2>
    <mat-dialog-content class="mat-typography">
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close]="'no'">Reset</button>
        <button mat-raised-button [mat-dialog-close]="'yes'" cdkFocusInitial>Remember</button>
    </mat-dialog-actions>
</ng-template>
