<!-- split-screen.component.html -->

<div class="screen-container">
    <gridster [options]="options" class="drag-content drag-handler">
        <gridster-item *ngFor="let item of zoneinfo" [item]="item" class="grid-item">
            <div class="widget-content">
                <app-content-player [filesData]="item?.media_list"></app-content-player>
            </div>
        </gridster-item>
    </gridster>

    <div class="px-4" style="position: absolute;bottom: 4em;z-index: 1;right: 1.5em;">
        <ng-container [ngSwitch]="status">
            <img [ngClass]="status" *ngSwitchCase="'ONLINE'" style="width: 70px;" src="assets/images/ONLINE.png"
                alt="⦿">
            <img [ngClass]="status" *ngSwitchCase="'OFFLINE'" style="width: 70px;" src="assets/images/OFFLINE.png"
                alt="⦿">

            <!-- it near your status UI -->
            <div class="px-4"
                style="position: absolute;bottom: 50%;z-index: 1000;right: 50%; background-color: cadetblue; ">
                <button *ngIf="status === 'OFFLINE'" id="show-downloaded-btn" (click)="openOffline()" autofocus
                    style="background-color: darkgray; color: white; border-radius: 7px; border: 2px solid whitesmoke;">
                    Show Downloaded Files
                </button>
            </div>

        </ng-container>
    </div>

    <!-- Top Scroller -->
    <app-scroller *ngIf="topScrollers.length" [scrollers]="topScrollers" class="ticker-bar top-ticker">
    </app-scroller>

    <!-- Bottom Scroller -->
    <app-scroller *ngIf="bottomScrollers.length" [scrollers]="bottomScrollers" class="ticker-bar bottom-ticker">
    </app-scroller>

</div>