/* split-screen.component.scss */
.drag-content {
    // padding: 2px;
    min-height: 100vh;
    min-width: 100vw;
}

.grid-item {
    // border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: move;
}

.screen-container {
  position: relative;   /* allows scrollers to overlay */
  width: 100%;
  height: 100%;
}
