<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets"
    xmlns="http://www.w3.org/ns/widgets"
    id="http://iqtv.in/tizen-detection"
    version="1.0.0"
    viewmodes="maximized">
    <tizen:application id="OMBoEKMi2D.detector" package="OMBoEKMi2D" required_version="2.3"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>TV_DETECTION</name>
    <tizen:profile name="tv-samsung"/>

    <feature name="http://tizen.org/feature/screen.size.all"/>
    <access origin="*" subdomains="true"/>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/systeminfo"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.info"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/tv.deviceinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>

    <tizen:setting
        screen-orientation="landscape"
        context-menu="enable"
        background-support="disable"
        encryption="disable"
        install-location="auto"
        hwkey-event="enable"/>
</widget>
