:host {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.media-image,
.media-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: fill; // fits screen, crops if necessary
    transform: translate(-50%, -50%);
}
