<router-outlet></router-outlet>

<!-- Top Scroller -->
<app-scroller *ngIf="topScrollers.length" [scrollers]="topScrollers" class="ticker-bar top-ticker">
</app-scroller>

<!-- Bottom Scroller -->
<app-scroller *ngIf="bottomScrollers.length" [scrollers]="bottomScrollers" class="ticker-bar bottom-ticker">
</app-scroller>

<div class="network-info" *ngIf="netspeed">
    <h3>🌐 Network Info</h3>
    <p><strong>Speed:</strong> {{ netspeed?.downlinkMbps }} Mbps</p>
    <p><strong>Latency:</strong> {{ netspeed?.latencyMs}} ms</p>
    <p><strong>OS:</strong> {{ netspeed?.os }}</p>
</div>
<ng-template #DeviceSettings>
    <h2 mat-dialog-title style="color: #ff4081; margin-bottom: 0px;">Device Settings</h2>
    <mat-dialog-content class="mat-typography">
        <!-- <app-menu></app-menu> -->
        <app-menu2></app-menu2>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #exitconfirm>
    <h2 mat-dialog-title class="text-center" style="color: #ff4081;">Are you sure ?</h2>
    <mat-dialog-content class="mat-typography">
        <h4 class="text-center">Do you want to exit the application?</h4>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close class="exit-btn">
            Close
        </button>
        <button mat-raised-button [mat-dialog-close]="true" class="exit-btn">Yes, exit</button>
    </mat-dialog-actions>
</ng-template>

<!-- <app-usb-reader></app-usb-reader> -->


