:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  image-rendering: crisp-edges;
  image-rendering: high-quality;
}

.pdfcontroller {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
}
