.scroll-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.scroll-track {
  display: inline-flex;
  white-space: nowrap;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll-track.left {
  animation-name: marquee-left;
}


.scroll-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.scroll-wrapper.hidden-init {
  visibility: hidden;
}


/* left-to-right */
@keyframes marquee-left {
  from {
    transform: translateX(var(--start, 100%));
  }
  to {
    transform: translateX(calc(-1 * var(--trackWidth, 100%)));
  }
}
