//style.scss
// @font-face {
//   font-family: "DMSans";
//   src: url("./assets/fonts/SFUIDisplay-Regular.otf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/orbitron-black.otf') format('truetype');
    font-style: normal;
    font-display: swap;
}

html,
body {
  font-family: "DMSans", sans-serif !important;
}

.mat-h1,
.mat-headline-5,
.mat-typography .mat-h1,
.mat-typography .mat-headline-5,
.mat-typography h1 {
  line-height: normal !important;
}

:root {
  --color-primary: #378cee;
}



.mat-mdc-raised-button.mdc-ripple-upgraded--background-focused,
.mat-mdc-raised-button:not(.mdc-ripple-upgraded):focus {
  box-shadow: var(--mdc-protected-button-focus-container-elevation, 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12));
  background-color: #ff4081 !important;
  color: #fff !important;
}


::ng-deep ngx-extended-pdf-viewer {
  height: 100vh !important;
  width: 100% !important;
}

iframe {
  height: 100vh !important;
  width: 100vw !important;
}

gridster {
  background-color: black !important;
}

.mat-mdc-button.mat-mdc-button-base,
.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
  height: 30px !important;
}

#viewerContainer {
  overflow: hidden !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
 background-color: #061b31 !important;
}

.mdc-dialog .mdc-dialog__content {
    padding: 20px 50px 20px 50px !important;
    color: #0398d7 !important;
}

/* Default landscape mode */
.app-root.landscape {
  transform: none;
}

/* Portrait mode */
.app-root.portrait {
  transform: rotate(90deg);
  transform-origin: center center;
  width: 100vh;
  height: 100vw;
  overflow: hidden;
}

/* Landscape default */
.app-root.landscape video,
.app-root.landscape iframe {
  width: 100vw !important;
  height: 100vh !important;
}

/* Portrait override */
.app-root.portrait video,
.app-root.portrait iframe {
  width: 100vh !important;
  height: 100vw !important;
  object-fit: cover; // makes sure video fills rotated screen
}

#viewer{
  width: 100vw !important;
  height: fit-content !important;
}

gridster .gridster-column,
gridster .gridster-row,
gridster-item,
gridster-item.gridster-item-resizing,
gridster-item.gridster-item-moving {
  transition: unset !important;
}