<mat-dialog-content class="mat-typography">

    <label class="pendrive-checkbox-row" for="copyContentCheckbox" tabindex="0"
        (keydown)="onCheckboxRowKeydown($event, 'CopyContent')">
        <span>Copy Content</span>
        <input id="copyContentCheckbox" class="pendrive-checkbox-input" type="checkbox" [(ngModel)]="isCopyContent"
            (change)="onChangePendriveSetting($any($event.target).checked, 'CopyContent')"
            (keydown)="onCheckboxRowKeydown($event, 'CopyContent')" />
    </label>

    <label class="pendrive-checkbox-row" for="clearCopyContentCheckbox" tabindex="0"
        (keydown)="onCheckboxRowKeydown($event, 'ClearCopyContent')">
        <span>Clear & Copy Content</span>
        <input id="clearCopyContentCheckbox" class="pendrive-checkbox-input" type="checkbox" [(ngModel)]="isClearCopyContent"
            (change)="onChangePendriveSetting($any($event.target).checked, 'ClearCopyContent')"
            (keydown)="onCheckboxRowKeydown($event, 'ClearCopyContent')" />
    </label>
    <h1 style="margin-bottom: 10px;" mat-dialog-title>Image Delay <span style="font-size: medium;">(Sec)</span> </h1>
    <div class="counter">
        <button mat-raised-button class="pendrive-menu-btn" (click)="changeValue(-1)">-</button>
        <input type="number" disabled [(ngModel)]="imageDelay" min="0">
        <button mat-raised-button class="pendrive-menu-btn" (click)="changeValue(1)">+</button>
    </div>
    <!-- <button mat-raised-button style="position: absolute; bottom: 0.79em; left: 1em;" (click)="exitPendrive()">
        Exit pendrive
    </button>
    <button mat-raised-button style="position: absolute; bottom: 0.79em; right: 7.4em;" (click)="clearDownloads()">
        Clear Storage
    </button> -->
</mat-dialog-content>
